<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesignSpaceToolboxModule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DesignSpaceToolboxV2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Python Interface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>designspace copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>designspacecycle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A4CA37E18EFDD6F00D4F35A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A4F1CFC13F08CC7002FB826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A4F1D1D13F08D27002FB826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A5833B3139D78A80068B6B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AC4260015227D00000859D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AC4260615227DEF000859D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD59AF613D65703007EB716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AFD4D4113B56CAD001FCEC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
